/*Configurar fonte*/
@font-face {
    font-family: Benchnine;
    src: url(../fonts/benchnine/BenchNine-Light.ttf);
}

/*--------------------
    PRINCIPAL
--------------------*/

.fundo-titulo {
    background-image: url(../img/fazendeira.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.campo {
    color: white;
    font-family: Benchnine;
    font-size: 6em;
    letter-spacing: 2vh;
    text-align: center;
}

.campo h3 {
    font-size: 0.3em;
    letter-spacing: 0px;
}

.campo button {
    background-color: grey;
    border: 1px solid white;
    color: white;
    padding: 1%;
    font-size: 0.2em;
    width: 40vh;
}

.campo button:hover {
    background-color: rgb(108, 108, 108);
    border: 1px solid black;
    color: rgb(229, 229, 229);
}

/*Estilo padrão da classe .conteudos*/

.container {
    padding: 3%;
}

.nossa-empresa {
    float: right;
    margin-left: 9%;
}

.botao {
    color: white;
    background-color: var(--verde);
    font-family: Benchnine;
    border: none;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    margin-top: 20px;
}

.botao:hover {
    background-color: #999f2c;
}

.titulo {
    color: rgb(37, 37, 37);
    font-family: Benchnine;
    font-size: 5em;
    text-align: left;
}

.texto {
    color: grey;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
}

/*marcas*/

.marcas {
    text-align: center;
    margin-bottom: 8%;
}

/*serviços*/

.servicos {
    color: white;
    background-color: rgb(48, 48, 48);
    text-align: center;
    padding: 40px;
}

.servicoicone {
    display: inline-block;
    padding: 30px;
}

.servicoicone img {
    vertical-align: bottom;
}

.servicoicone p {
    font-family: Benchnine;
    font-size: 30px;
    margin-top: 20px;
}

/*catalogo*/

.fundo-catalogo {
    background-image: url(../img/fazendeiro-fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.catalogo {
    color: white;
    text-align: center;
}

/*contato*/
.contato {
    background-color: rgb(78, 78, 78);
    padding: 60px;
}

.contato-fundo {
    background: rgba(255, 255, 255, 0.95);
    padding: 20px;
}

fieldset {
    border: none;
    width: 80%;
}

input {
    border: none;
    color: white;
    font-family: Benchnine;
}

::placeholder {
    font-family: Benchnine;
    color: white;
    padding: 10px;
}

.grupo {
    margin-bottom: 20px;
}

.grupo input {
    margin-right:20px;
    margin-top: 20px;
    width: 40%;
}

.contato input {
    padding: 4px;
}

.contato textarea {
    background-color: var(--verde);
    resize: none;
    border: none;
    width: 100%;
}

.enviar {
    border: 1px solid var(--verde);
    background-color: white;
    color: var(--verde);
    font-size: 1.2em;
    float: right;
    padding: 10%;
    width: 50%;
    height: 10vh;
}

.grupo input {
    background-color: var(--verde);
}

.teste {
    justify-content: space-between;
}