* {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial;
    width: 100%;
    margin: 0;
    padding: 0;
}


/*--------------------
    HEADER
--------------------*/

.menu {
    background-color:rgb(47, 47, 47);
    display: flex;
    justify-content: space-between;
}

.contatos {
    color: white;
}

.tel-email {
    display: flex;
    font-size: 20px;
    margin-left: 10px;
    padding: 10px;
}

.tel-email li {
    margin-right: 60px;
}

.tel-email i {
    font-size: 20px;    
}

.sn {
    padding: 10px;
}

.sn li {
    margin-right: 25px;
}

.sn i {
    font-size: 25px;    
}

/*--------------------
    NAV
--------------------*/

.nav {
    justify-content: flex-end;
}

.nav ul {
    display: flex;
    justify-content: flex-end;
}

.nav li {
    font-size: large;
    justify-content: flex-end;
    margin-right: 50px;
    padding: 25px;
}

.nav a {
    color: grey;
    text-decoration: none;
}

.nav li:hover {
    background-color: rgb(243, 243, 243);
}

#loja {
    background-color: rgb(168, 214, 109);
    text-align: center;
    width: 130px;
}

#loja a {
    color: white;
}

#loja:hover {
    background-color: rgb(142, 204, 60);
}

/*--------------------
    FOOTER
--------------------*/

footer {
    background: #5D5650;
}

.footer {
    color: #ffffff;
    display: flex;
    font-size: 25px;
    justify-content: space-between;
    padding: 10%;
}

footer i {
    font-size: 20px;
    margin-right: 5px;
}

.lorem {
    width: 300px;
}

.desenvolvido-por {
    color: #ffffff;
    padding-bottom: 20px;
    text-align: center;
}