* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --branco: #FFFFFF;
    --verde: #B2B74A;
    --cinza: #5D5650;
    --cinzaclaro: #E8E8E8;
    --cinzaescuro: #262B2B; 
}

body {
    font-family: arial;
    width: 100%;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 768px) {
    
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    /*--------------------menu de contatos--------------------*/
    .menu-contatos {
        background-color: var(--cinza);
        color: var(--branco);
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    .menu-contatos ul {
        display: flex;
        list-style-type: none;
        padding: 1.0%;
    }

    .menu-contatos li {
        margin-left: 3vh;
    }

    .menu-contatos i {
        color: var(--branco);
    }

    [class*=fa-brands] {
        font-size: 1.5em;
    }
    /*--------------------------------------------------------*/


    /*--------------------menu de navegação--------------------*/
    .menu-navegacao {
        background-color: var(--branco);
        height: 100%;
    }
    .menu-navegacao ul {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        padding: 1%;
    }
    .menu-navegacao li {
        font-size: 1.1em;
        padding: 2%;
        margin-right: 2%;
    }
    .menu-navegacao a {
        color: rgb(142, 142, 142);
        text-decoration: none;
    }
    .menu-navegacao li:hover {
        background-color: var(--cinzaclaro); 
    }

    #loja {
        background-color: #B2B74A;
        margin-right: 0;
        text-align: center;
        width: 15%;
    }

    #loja a {
        color: white;
    }

    #select{
        color: #B2B74A;
    }
    /*---------------------------------------------------------*/

    
    /*--------------------rodapé--------------------*/
    
    footer {
        border: 1px solid rgb(177, 177, 177);
        color: rgb(233, 233, 233);
        background-color: var(--cinza);
    }
    
    .rodape .row {
        display: flex;
        justify-content: space-between;
        padding: 8%;
    }

    .info {
        font-size: 1.3em;
        width: 50%;
    }

    .endereco {
        font-size: 1.2em;
        float: right;
    }
    
    .desenvolvido {
        font-size: 0.8em;
        text-align: center;
    }

    .desenvolvido a {
        color: var(--branco);
    }
    /*----------------------------------------------*/
}/*Fim media query*/

/*Desenvolver para celular aqui*/

.menu-contatos {
    color: var(--branco);
    background-color: var(--cinza);
    display: flex;
    list-style-type: none;
}

.menu-contatos ul {
    list-style-type: none;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    width: 100%;
    float: left;
}