* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Benchnine;
    src: url(../fonts/benchnine/BenchNine-Light.ttf);
}

html {
    scroll-behavior: smooth;
}

:root {
    --branco: #FFFFFF;
    --verde: #B2B74A;
    --cinza: #5D5650;
    --cinzaclaro: #E8E8E8;
    --cinzaescuro: #262B2B; 
}

body {
    font-family: arial;
    width: 100%;
    margin: 0;
    padding: 0;
}

button:hover {
    cursor:pointer;
}

a {
    text-decoration: none;
    color: var(--branco);
}

@media only screen and (min-width: 768px) {
    
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    /*--------------------menu de contatos--------------------*/
    .menu-contatos {
        background-color: var(--cinza);
        color: var(--branco);
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    .menu-contatos ul {
        display: flex;
        list-style-type: none;
        padding: 1.0%;
    }

    .menu-contatos li {
        margin-left: 3vh;
    }

    .menu-contatos i {
        color: var(--branco);
    }

    [class*=fa-brands] {
        font-size: 1.5em;
    }
    /*--------------------------------------------------------*/


    /*--------------------menu de navegação--------------------*/
    .menu-navegacao {
        background-color: var(--branco);
        height: 100%;
    }
    .menu-navegacao ul {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        padding: 1%;
    }
    .menu-navegacao li {
        font-size: 1.1em;
        padding: 2%;
        margin-right: 2%;
    }
    .menu-navegacao a {
        color: rgb(142, 142, 142);
        text-decoration: none;
    }
    .menu-navegacao li:hover {
        background-color: var(--cinzaclaro); 
    }

    #loja {
        background-color: #B2B74A;
        margin-right: 0;
        text-align: center;
        width: 15%;
    }

    #loja a {
        color: white;
    }

    #select{
        color: #B2B74A;
    }
    /*---------------------------------------------------------*/

    
    /*--------------------rodapé--------------------*/
    
    footer {
        border: 1px solid rgb(177, 177, 177);
        color: rgb(233, 233, 233);
        background-color: var(--cinza);
    }
    
    .rodape .row {
        display: flex;
        justify-content: space-between;
        padding: 8%;
    }

    .info {
        font-size: 1.3em;
    }

    .endereco {
        font-size: 1.2em;
        float: right;
    }
    
    .desenvolvido {
        font-size: 0.8em;
        text-align: center;
    }

    .desenvolvido a {
        color: var(--branco);
    }
    /*----------------------------------------------*/
}/*Fim media query*/

/*Desenvolver para celular aqui*/

.menu-contatos {
    color: var(--branco);
    background-color: var(--cinza);
    display: flex;
    list-style-type: none;
}

.menu-contatos ul {
    list-style-type: none;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
}

/*MENU DE NAVEGAÇÃO*/
.fundo-menunavegacao {
    background-image: url(../img/trigo-fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.titulo-menunavegacao {
    color: var(--branco);
    font-size: 2.8em;
    font-family: Benchnine;
    padding: 8%;
}
.test {
    display: flex;
}
.test img {
    height: 2%;
    width: 4%;
}
.test h1 {
    margin-left: 3%;
}

/*SERVIÇOS*/
/*serviços*/
.servicos {
    color: black;
    background-color: var(--branco);
    text-align: center;
    padding: 40px;
}

.servicoicone {
    display: inline-block;
    padding: 30px;
}

.servicoicone img {
    vertical-align: bottom;
}

.servicoicone p {
    font-family: Benchnine;
    font-size: 30px;
    margin-top: 20px;
}

/*CONTATO*/
.fundo-contato {
    background-image: url(../img/trigo-fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.titulo-contato {
    color: var(--branco);
    font-size: 2.8em;
    font-family: Benchnine;
    padding: 8%;
}

.test {
    display: flex;
}

.test img {
    height: 2%;
    width: 4%;
}

.test h1 {
    margin-left: 3%;
}

/*FORMULÁRIO*/
.contato {
    background-color: var(--cinza);
    padding: 60px;
}

.contato-fundo {
    background: rgba(255, 255, 255, 0.95);
    padding: 20px;
}

fieldset {
    border: none;
    width: 80%;
}

input {
    border: none;
    color: white;
    font-family: Benchnine;
}

::placeholder {
    font-family: Benchnine;
    color: white;
    padding: 10px;
}

.grupo {
    margin-bottom: 20px;
}

.grupo input {
    margin-right:20px;
    margin-top: 20px;
    width: 40%;
}

.contato input {
    padding: 4px;
}

.contato textarea {
    background-color: var(--verde);
    resize: none;
    border: none;
    width: 100%;
}

.enviar {
    border: 1px solid var(--verde);
    background-color: white;
    color: var(--verde);
    font-size: 1.2em;
    float: right;
    padding: 10%;
    width: 50%;
    height: 10vh;
}

.enviar:hover {
    border: 1px solid var(--verde);
    background-color: var(--verde);
    color: var(--branco);
    cursor:pointer;
}

.grupo input {
    background-color: var(--verde);
}

.teste {
    justify-content: space-between;
}

.titulo {
    color: rgb(37, 37, 37);
    font-family: Benchnine;
    font-size: 5em;
    text-align: left;
}

.texto {
    color: grey;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
}

.botao {
    color: white;
    background-color: var(--verde);
    font-family: Benchnine;
    border: none;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    margin-top: 20px;
}

.botao:hover {
    background-color: #999f2c;
}

.botao-preto {
    color: white;
    background-color: var(--cinzaescuro);
    font-family: Benchnine;
    border: none;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    margin-top: 20px;
}

.botao-preto:hover {
    background-color: #999f2c;
}